.main-footer {
  background-color: #1d1d1d;
  color: #fff;
  padding: 40px 20px;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  padding-bottom: 40px;
}

.footer-box {
  flex: 1 1 300px;
}

.footer-box h3 {
  margin-bottom: 15px;
  color: #fff;
}

.icon {
  color: #f7941e;
  margin-right: 8px;
}

.subscribe {
  display: flex;
  margin-top: 10px;
}

.subscribe input {
  padding: 10px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  flex: 1;
}

.subscribe button {
  padding: 10px 20px;
  background: linear-gradient(to right, #b68f63, #ccbe72);
  border: none;
  border-radius: 0 25px 25px 0;
  color: white;
  cursor: pointer;
}
.instagram h3 {
  text-align: center;
  margin-bottom: 10px;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(2, 70px);
  gap: 10px;
  justify-content: center;
}

.contact-info {
  flex: 1 1 300px;
  padding-left: 200px;
}

.footer-bottom {
  text-align: center;
  margin-bottom: 0px;
}

.footer-bottom a {
  color: #f7941e;
  margin: 5px;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #999;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f7941e;
}

@media screen and (max-width: 768px) {
  .footer-top,
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info {
    padding-left: 0;
    margin-top: 20px;
  }

  .insta-grid {
    justify-content: flex-start;
  }

  .instagram h3 {
    text-align: left;
  }
}
